<!DOCTYPE html>
<html>
<head>
    <title>Emails</title>
</head>
<body>
    <h1>Emails</h1>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
                <td>{{ email.subject }}</td>
                <td>{{ email.message }}</td>
                <td>{{ email.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>